name: Playwright Tests with environments and tags

on:
  push:
  pull_request:
    branches: ['main', 'master', 'develop']
  workflow_dispatch:
    inputs:
      ALLURE_JOB_RUN_ID:
        description: ALLURE_JOB_RUN_ID service parameter.
        required: false
      ALLURE_USERNAME:
        description: ALLURE_USERNAME service parameter.
        required: false
      environment:
        description: 'Choose the environment: local, staging, or production'
        required: false
        default: 'local'
      tag:
        description: 'Optional tag to filter tests. Leave empty to run all tests.'
        required: false
        default: ''

env:
  ALLURE_TOKEN: ${{ secrets.ALLURE_TOKEN }}
  ALLURE_JOB_RUN_ID: ${{ github.event.inputs.ALLURE_JOB_RUN_ID }}
  ALLURE_ENDPOINT: https://demodomain.testops.cloud/
  ALLURE_PROJECT_ID: 1
  ALLURE_RESULTS: ./reports/allure

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    env:
      ENVIRONMENT: ${{ github.event.inputs.environment || 'local' }}
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: Install dependencies
        run: npm ci

      - name: Install only Chromium
        run: npx playwright install --with-deps chromium

      - name: Setup allurectl
        uses: allure-framework/setup-allurectl@v1

      - name: Create Allure results directory
        run: mkdir -p ${{ env.ALLURE_RESULTS }}

      - name: Display Environment Variables
        run: |
          echo "Using environment: $ENVIRONMENT"
          echo "Using tag: ${{ github.event.inputs.tag }}"

      - name: Run Playwright tests
        run: |
          echo "Running tests with environment $ENVIRONMENT and tag '${{ github.event.inputs.tag }}'"
          allurectl watch -- npx cross-env NODE_ENV=$ENVIRONMENT TAG=${{ github.event.inputs.tag }} npm run test:tag

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: ${{ env.ALLURE_RESULTS }}
          retention-days: 30
